html
{
    scroll-behavior: smooth;
}

body{
    background-color:rgb(111, 111, 200)
}

h1
        {
            font-size: 100px;
            text-align:center;
            color:blue; 
        }
a:hover
{
    color: black;
}
a:visited
{
    color: pink;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

ul{
    list-style-type: circle;
}

.demo{
    font-size: 25px;
}

.demo2{
    font-weight: bold;                             
}

#dummy{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgb(53, 5, 99);
    padding: 20px 50px;
}

@media (max-width: 600px) {
    body{
        background-color: aqua;
    }
}